/******Structure*********/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  width: 100%;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

li,
a,
p {
  text-decoration: none;
  list-style: none;
  color: #4a4a4a;
}

.logo-flex {
  max-width: 125px;
  text-align: left;
}

.logo-container {
  padding-top: 15vh;
}

.left {
  display: flex;
  height: 100%;
  width: 180px;
}

.mail {
  text-align: center;
  padding-bottom: 6rem;
  padding-top: 2rem;
  margin: auto;
  width: 129.3px;
}

.mail2 {
  padding-top: 1rem;
  margin-top: 0px;
}

.social1 {
  height: 2rem;
}

.social {
  height: 2rem;
  padding-left: 11.74px;
}

/* .mail {
  margin-top: 10px;
} */

.contact-me {
  background-image: url("../images/homepage/work/contact/contact-background.png");
  color: #4a4a4a;
  padding: 5rem 0;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* padding-top: 11rem;
    padding-bottom: 10%;
    max-width: 600px;
    margin: auto; */

.return-link {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 800;
}

.return-link-2 {
  color: #ffffff;
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.purple2 {
  /* color: #8F47EC; */
  font-weight: 800;
}

.purple {
  color: #4a4a4a;
  background-color: rgba(223, 251, 252, 0.64);
  font-weight: 700;
}

.blue {
  border-bottom: 1.5px solid #15b9d6;
  cursor: pointer;
  /* color: rgb(21, 185, 214);
  color: #197585; */
  /* font-weight: 400; */
  text-decoration: none;
}

.extra-bold {
}

.mini-label2 {
  color: #919191;
  text-align: left;
  font-weight: 800;
  padding: 20px 0;
}

.about-intro {
  text-transform: lowercase;
  color: #000;
}

/* Typography */

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-ExtraBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-Heavy.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Text-Bold.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Work Sans";
  src: url("../css/WorkSans/WorkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Work Sans";
  src: url("../css/WorkSans/WorkSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Work Sans";
  src: url("../css/WorkSans/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Work Sans";
  src: url("../css/WorkSans/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Work Sans";
  src: url("../css/WorkSans/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  background-color: #ffffff;
  font-family: "WorkSans", sans-serif;
  line-height: 1.45;
  color: #4a4a4a;
  margin: auto;
  display: block;
  /* max-width: 1440px; */
}

p {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 180%;
}

h1 {
  margin: 2rem 0rem;
  font-size: 6.734rem;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.15;
  color: rgb(214, 214, 214);
  text-align: center;
}

h4 {
  font-size: 1.777em;
  font-family: "Black", serif;
  font-weight: 700;
  line-height: 110%;
}

h4.case-study {
  text-align: center;
  padding-top: 60px;
}

h4.hero-mini-copy {
  font-size: 2.843rem;
  color: #ffd2d8;
  margin: 0;
  font-weight: 800;
  text-align: center;
}

h5.menu-links {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
}

.overview-h5 {
  padding-bottom: 10px;
}

h6 {
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
}
.content-label {
  font-weight: 1200;
  padding-top: 0rem;
  padding-bottom: 2.5rem;
  text-transform: lowercase;
}

.content-label-small {
  font-weight: 1200;
  padding-top: 5.5rem;
  padding-bottom: 2.5rem;
  text-transform: lowercase;
  width: 50%;
  margin: auto;
}

h3.portfolio {
  font-size: 3.79rem;
  font-family: "Black", serif;
  font-weight: 700;
  color: #666567;
  text-align: center;
  padding-top: 1rem;
  margin: auto;
  line-height: 120%;
  text-transform: lowercase;
  max-width: 400px;
}

.main-header {
  max-width: 400px;
  margin: auto;
}

.container-padding {
  margin-top: 8rem;
}

.introduction {
  margin: 0 auto;
  display: block;
  padding-top: 100px;
}

.line {
  border-top: 2px solid #5de1f5;
  width: 111px;
  margin: 0 auto;
  margin-top: 1.4rem;
}

.line2 {
  border-top: 4px solid #5de1f5;
  width: 210px;
  /* margin: 0 auto; */
  margin-top: 1.4rem;
}

li.-flex {
  text-decoration: none;
  text-decoration: none;
  list-style: none;
  color: #4a4a4a;
  font-size: 1.8rem;
}
.button-container-3 {
  background-color: #8f47ec;
  padding: 1.4rem;
}

.menu-get-in-touch {
  font-weight: 800;
  font-size: 1.8rem;
}

.navigation {
  box-shadow: 0 14px 20px rgba(183, 103, 69, 0.1);
}

.contact-me {
  margin-top: 8rem;
}

section#contact div.return-top {
  display: flex;
  flex-direction: column-reverse;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 3rem auto 3rem auto;
}

.bounce {
  /* z-index: 1;
  animation-timing-function: ease;
  transition-duration: 4s;
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite; */
  margin-top: 3rem;
}

.contact-btns3 {
  margin-top: 2rem;
}

/* @keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
} */

@media only screen and (min-width: 0px) {
  .tooltip-mobile {
    display: inline-block;
  }

  .tooltip-desktop {
    display: none;
  }
  .white {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .button-container-2 {
    background-color: #8f47ec;
    padding: 0rem;
    font-weight: 800;
    font-size: 1.8rem;
  }
  .button-style-4 {
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .column1 {
    float: none;
    width: 100%;
    padding-top: 30%;
    max-width: 620px;
    margin: auto;
    display: block;
    /* padding-right: 60px; */
  }

  .column2 {
    float: left;
    width: 100%;
    padding: 5% 15% 0% 15%;
  }

  .column1-v2 {
    float: none;
    width: 100%;
    max-width: 620px;
    margin: auto;
    margin-top: 0rem;
    display: block;
    /* padding-top: 30%; */
    /* padding-right: 60px; */
  }

  .column2-v2 {
    float: none;
    width: 80%;
    padding: 5% 5% 0 5%;
    margin: auto;
  }

  .column2-v3 {
    display: none;
    float: right;
    width: 0%;
    padding: 0% 10% 0 10%;
  }

  .container-padding {
    margin-top: 12rem;
  }
  .button-style-4 {
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .contact-me {
    height: 100%;
    margin-left: 0;
  }

  .contact-title1 {
    color: #ffffff;
    margin-bottom: 4rem;
    font-size: 3.8rem;
  }

  .flex-container {
    display: none;
  }

  .right-container {
    margin-left: 0px;
    background-color: #ffffff;
  }

  .container-all {
    margin: auto;
    width: 100%;
    background-color: #ffffff;
  }

  h1 {
    margin: 1.5rem 0rem;
    font-size: 4.8rem;
    font-family: "Black", serif;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    color: #ffffff;
  }

  h4.hero-mini-copy {
    font-size: 1.8rem;
    color: #ffd2d8;
    margin: 0;
    font-weight: 800;
    text-align: center;
  }

  h2.content-label {
    font-size: 4rem;
  }

  h2.footer-copy {
    color: #4a4a4a;
    margin-top: 0;
  }
}

@media only screen and (min-width: 400px) {
  .contact-me {
    background-image: url("../images/homepage/work/contact/contact-background.png");
    color: #4a4a4a;
    padding: 5rem 0;
    height: 780px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  section#contact div.return-top {
    display: flex;
    flex-direction: column-reverse;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 3rem auto 0 auto;
  }

  .persona-card3 {
    margin-top: 6rem;
  }

  .intro-desktop {
    /* padding: 0 5% ; */
    display: none;
  }
  .intro-mobile {
    /* padding: 0 5% ; */
    display: block;
  }
}

@media only screen and (min-width: 500px) {
  .contact-me {
    background-image: url("../images/homepage/work/contact/contact-background.png");
    color: #4a4a4a;
    padding: 5rem 0;
    height: 690px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-copy-container {
    padding-top: 27vh;
  }
  .intro-desktop {
    /* padding: 0 5% ; */
    display: block;
    margin: auto;
  }
  .intro-mobile {
    /* padding: 0 5% ; */
    display: none;
  }
  .hero {
    background-image: url("../images/homepage/hero/hero-bkgd.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 800px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  h1 {
    margin: 2rem 0rem;
    font-size: 6.034rem;
    font-family: "Black", serif;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    color: #ffffff;
  }
}

@media only screen and (min-width: 600px) {
  .contact-me {
    background-image: url("../images/homepage/work/contact/contact-background.png");
    color: #4a4a4a;
    padding: 5rem 0;
    /* height: 760px; */
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-title1 {
    color: #ffffff;
    margin-bottom: 4rem;
    font-size: 5.2rem;
  }

  .wht-bkgd {
    padding: 0 5%;
  }

  .container-spaceKit2 {
    max-width: 50%;
    /* display: inline-block; */
  }
  .second-case {
    /* float: right; */
  }
  .hero-copy-container {
    padding-top: 27vh;
  }
}

@media only screen and (min-width: 700px) {
  .button-style-4 {
    display: block;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
}

@media only screen and (min-width: 768px) {
  .tooltip-mobile {
    display: none;
  }

  .tooltip-desktop {
    display: inline-block;
  }
  .column1 {
    float: left;
    width: 40%;
    padding-top: 30%;
    padding-top: 27%;
    /* padding-right: 60px; */
  }

  .column2 {
    float: left;
    width: 60%;
    padding: 10% 0 0 80px;
    padding: 16% 0 0 80px;
  }

  .column1-v2 {
    float: right;
    width: 60%;
    max-width: 620px;
    margin: auto;
    /* margin-top: 2rem; */
    display: block;
    /* padding-top: 30%; */
    /* padding-right: 60px; */
  }

  .column2-v2 {
    float: right;
    width: 60%;
    padding: 5% 0 0 5%;
    padding: 2.5% 0 0 5%;
  }

  .column2-v3 {
    display: inline;
    float: left;
    width: 40%;
    padding: 0%;
  }
  h1 {
    margin: 2rem 0rem;
    font-size: 6.734rem;
    font-family: "Black", serif;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    color: #ffffff;
  }
}

.gif-center {
  /* margin: auto; */
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 140%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  letter-spacing: 0.1px;
  width: 100%;
  /* max-width: 200px; */
}

.inline-para {
  display: inline;
  line-height: 180%;
}

.tooltip {
  position: relative;
  display: inline;
  border-bottom: 1.5px dotted #15b9d6;
  width: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 250px;
  background-color: #fff;
  text-align: left;
  border-radius: 6px;
  border: 1px solid #dabaff;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: -25px;
  margin: 5px 25px 25px 25px;
  position: absolute;
  z-index: 1;
  top: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip4 {
  position: relative;
  display: inline;
  width: 100%;
}

.tooltip4 .tooltiptext4 {
  visibility: hidden;
  min-width: 250px;
  background-color: #fff;
  text-align: left;
  border-radius: 6px;
  border: 1px solid #dabaff;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.emoji:after {
  content: "👋🏾";
}

.emoji:hover:after {
  content: "👋🏾";
  animation-name: wave-animation !important;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.emoji:after {
  content: "👋🏾";
}

.emoji:hover:after {
  content: "👋🏾";
  animation-name: wave-animation !important;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.emoji2:after {
  content: "👋🏾";
}

.emoji2:hover:after {
  content: "👋";
  animation-name: wave-animation !important;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.emoji2:after {
  content: "👋🏾";
}

.emoji2:hover:after {
  content: "👋";
  animation-name: wave-animation !important;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.blue-star {
  color: #15b9d6 !important;
}

.tooltip-dotted {
  border-bottom: 1.5px solid #15b9d6;
  cursor: pointer;
  /* color: rgb(21, 185, 214);; */
}

.tooltip4:hover .tooltiptext4 {
  visibility: visible;
}

.first-column:after {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}

.container-padding3 {
  padding: 0 10%;
}

@media only screen and (min-width: 925px) {
  .contact-me {
    background-image: url("../images/homepage/work/contact/contact-background.png");
    color: #4a4a4a;
    padding: 5rem 0;
    height: 690px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 1024px) {
  .button-container-2 {
    background-color: #8f47ec;
    padding: 1.4rem;
    font-weight: 800;
    font-size: 1.8rem;
  }
  .white {
    font-size: 1.4rem;
    font-weight: 800;
  }
  .container-padding {
    margin-top: 10rem;
  }

  .contact-me {
    background-image: url("../images/homepage/work/contact/contact-background.png");
    color: #4a4a4a;
    padding: 5rem 0;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .case-study-image {
    float: left;
  }

  .hero-copy-container {
    /* padding-top: 50%; */
    padding-top: 27vh;
    /* transform: translateY(50%); */
  }

  .right-container {
    /* margin-left: 274px; */
    background-color: #ffffff;
  }

  .flex-container {
    display: block;
  }

  .intro-desktop {
    /* padding: 0 5% ; */
    display: block;
    margin: auto;
  }
  .intro-mobile {
    /* padding: 0 5% ; */
    display: none;
  }
}

@media only screen and (min-width: 1199px) {
  .contact-me {
    background-image: url("../images/homepage/work/contact/contact-background.png");
    color: #4a4a4a;
    padding: 5rem 0;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#persona3-card-top {
  box-shadow: none;
  float: left;
}

.mini-label-left {
  text-align: left;
  color: rgb(170, 168, 170);
}

h4.persona-header2 {
  text-align: left;
}

.inner-container {
  padding-right: 8%;
}

.user-personas {
  margin: 0 5%;
}

.contact-subheader,
.contact-text {
  color: #ffffff;
  /* text-transform: lowercase; */
}

.image-360px {
  width: 100%;
}

.back-imgs {
  max-height: 1080px;
}

.contact-text {
  margin: 4rem 0 2rem 0;
  line-height: 180%;
  font-weight: 400;
}
#contact {
  padding: 0 10%;
}

.button-container3 {
  text-align: center;
}

.primary-bkgd {
  background-color: rgb(108, 106, 255);
  min-height: 500px;
}

/* Footer */

footer {
  background-color: rgb(104, 193, 223);
  background-color: #dbe9ff;
  text-align: center;
  padding: 10px;
}

.black {
  color: #000000;
}

@media screen and (max-width: 568px) {
  h1 {
    width: 100%;
    font-size: 3em;
  }
  main {
    /*go to a more vertical layout*/
    flex-flow: column nowrap;
  }
  main > section {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  main > section > p {
    width: 100%;
  }
}

.tooltip {
  position: relative;
  display: inline;
  border-bottom: 1.5px solid #15b9d6;
  width: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 250px;
  background-color: #fff;
  text-align: left;
  border-radius: 6px;
  border: 1px solid #dabaff;

  /* padding: 5px 0; */

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle:checked ~ #expand {
  height: 900px;
}
#toggle:checked ~ label::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;
  box-shadow: 0px 0px 13px -13px rgba(0, 0, 0, 0.4);
  border: 1.5px solid #576382;
  /* color: #8f47ec; */
  font-family: "Work Sans", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 800;
  height: 48px;
  width: 140px;
  margin: 2rem auto 0 auto;
  text-align: center;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
  text-transform: LOWERcase;
  transition-duration: 0.5s;
  white-space: nowrap;
  -moz-box-shadow: 0px 0px 14px -12px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 14px -12px rgba(0, 0, 0, 0.4);

  /* padding: 1rem;
    color: #A77B0E;
    
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out; */
}

.lbl-toggle:hover {
  background-color: #4a4a4a;
  border-color: #4a4a4a;
  color: #ffffff;
  transition-duration: 0.5s;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  margin-top: 0.3rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 1800px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  /* background: rgba(250, 224, 66, .2); */
  /* border-bottom: 1px solid rgba(250, 224, 66, .45); */
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
  padding: 4rem 0 0 0;
}
