.contact-container {
    padding: 0 0 1 rem 0;
    max-width: 620px;
    margin: auto;
    margin-bottom: 5rem;
    background-color: #fff
  }

  .wip-container {
    padding: 0 0 1 rem 0;
    max-width: 620px;
    margin: auto;
    margin-bottom: 5rem;
  }

  .center {
      text-align: center;
  }


  /* .form h2 {
    font-family: Poppins;
    font-size: 4vw;
    line-height: 1.3;
    padding-top: 6rem;
    padding-bottom: 1.5rem;
  
  }
   */
  
  .linebreak{
    height: 5px;
    background-color: #8F47EC;
    width: 60vw;
    margin-left: .3rem;
  }
  
  .contact-header {
    padding-top: 10rem;
    margin-bottom: 2rem;
    color: rgb(202, 193, 255);
    }

    .wip-header {
        padding-top: 10rem;
        margin-bottom: 2rem;
        color: rgb(112, 97, 199);
        }

  .tooltip {
      color: rgb(238, 255, 254);
      border-bottom: 1px dotted rgb(208, 173, 255);
  }

  .white-center {
      text-align: center;
      color: #fff;
      line-height: 210%;
      max-width: 620px;
      margin: auto;
      padding: 0 5%;
  }

  .inline-para {
    font-weight: 800;
  }
  .main-header-white-center {
      max-width: 620px;
  }


  .wip-hero {
      
  }
  
  .inline-para {
      max-width: 620px;
      color: #ffffff;
      text-align: center;
  }

  
  .contact-container p {
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  
  .contact-container a {
    text-decoration: none;
    color: #191A1B;
    cursor: pointer;
  }
  
  
  /* Form Style inputs */

  
  .form {
      margin-top: 3rem;
      /* margin-bottom: 8rem; */
  }
  .contact-form{
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-family: "Muli", sans-serif;
    font-size: 1.8rem;
    width: 100%;
    max-width: 400px;
    
  }
  
  .contact-form input {
    font-family: "Muli", sans-serif;
    font-size: 1.5rem;
    padding: 5px 20px 5px 0;
    margin: 8px 0 30px 0;
    display: block;
    border: none;
    border-bottom: solid 1px #8F47EC;
    /* border-radius: 4px; */
    width: 100%;
  }

  .contact-bkgd {
      height: 100%;
      background-image: url("../images/contact/contact-page-header.svg")
  }

  .wip-hero {
      display: block;
    height: 100%;
    /* background-attachment: fixed; */
    background-image: url("../images/components/construction.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

  
  .main-header-white {
    max-width: 620px;
  }
  
  input[type=message], select, textarea {
    width: 100%;
    min-height: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #8F47EC;
    font-size: 1.5rem;
  }


  input[type=submit], select {
    padding: 5px 25px;
    /* margin: 8px 0; */
    
    border: 1px solid #8F47EC;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 400;
    transition: all 0.4s;
    max-width: 120px;
    margin: auto;
    margin-top: 20px;
  
  }
  
  input[type=submit] {
    color: #fff;
    background-color: #8F47EC;
    text-decoration: none;
    /* font-family: "Muli ExtraBold", san-serif; */
    font-weight: 800;
    padding: 1.4rem 0;
  }
  
  input[type=submit]:hover {
    background-color: #000;
  }



@media only screen and (min-width: 0px) {
  .contact-header {
    padding-top: 14rem;
    margin-bottom: 2rem;
    color: rgb(202, 193, 255);
}
.contain-8 {
    max-width: 620px;
    margin: auto;
    padding: 0 5%
}
}

@media only screen and (min-width: 640px) {
  .contain-8 {
    max-width: 620px;
    margin: auto;
    padding: 0 0%
  }
    .wip-header {
        padding-top: 12rem;
        margin-bottom: 2rem;
        color: rgb(112, 97, 199);
    }

}

@media only screen and (min-width: 1024px) {
    .contact-header {
      padding-top: 10rem;
      margin-bottom: 2rem;
      color: rgb(202, 193, 255);
  }
  .wip-header {
    padding-top: 10rem;
    margin-bottom: 2rem;
    color: rgb(112, 97, 199);
}
} 
  
