.contact-container {
  padding: 0 0 1rem 0;
  max-width: 620px;
  margin: 6rem auto;
  margin-bottom: 12rem;
  background-color: #fff;
  border: solid 1px #57638226;
  background-image: url(/images/contact/contact-page-header.svg), 0.9;
}

.wip-container {
  padding: 0 0 1 rem 0;
  max-width: 620px;
  margin: auto;
  margin-bottom: 5rem;
}

.center {
  text-align: center;
  /* font-family: "Muli", sans-serif; */
  /* font-weight: 600; */
  /* padding: 0 5% 0 5%; */
}

.linebreak {
  height: 5px;
  background-color: #8f47ec;
  width: 60vw;
  margin-left: 0.3rem;
}

.contact-header {
  /* font-family: "Muli", sans-serif; */
  font-weight: 800;
  padding-top: 10rem;
  margin-bottom: 2rem;
  color: rgb(202, 193, 255);
}

.wip-header {
  margin-top: 0px;
  padding-top: 10rem;
  margin-bottom: 2rem;
  color: rgb(112, 97, 199);
}

.tooltip {
  color: #4a4a4a;
  position: relative;
  border-bottom: 1.5px solid #15b9d6;
}

.white-center {
  font-family: "Black", serif;
  font-weight: 600;
  text-align: center;
  color: #fff;
  line-height: 130%;
  max-width: 620px;
  margin: auto;
  padding: 0 5%;
  /* font-size: 3.790rem; */
}

.inline-para {
  /* font-family: "Muli", sans-serif; */
  /* font-weight: 700; */
}
.main-header-white-center {
  max-width: 620px;
}

.wip-hero {
}

.inline-para {
  max-width: 620px;
  color: #4a4a4a;
  text-align: center;
}

.contact-container p {
  font-size: 2.5rem;
  padding-top: 2rem;
}

.contact-container a {
  text-decoration: none;
  color: #191a1b;
  cursor: pointer;
}

/* Form Style inputs */

.form {
  margin-top: 3rem;
  /* margin-bottom: 8rem; */
}

.contact-form input {
  /* font-family: "Muli", sans-serif; */
  font-size: 1.5rem;
  padding: 5px 20px 5px 0;
  margin: 8px 0 30px 0;
  display: block;
  border: none;
  border-bottom: solid 1px #576382;
  /* border-radius: 4px; */
  width: 100%;
}

.contact-bkgd {
  height: 100%;
  background-image: url("../images/contact/contact-page-header.svg");
}

.wip-hero {
  display: block;
  height: 100%;
  /* background-attachment: fixed; */
  background-image: url("../images/components/construction.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.main-header-white {
  max-width: 620px;
}

input[type="message"],
select,
textarea {
  width: 100%;
  min-height: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #576382;
  font-size: 1.5rem;
}

input[type="submit"],
select {
  padding: 5px 25px;
  /* margin: 8px 0; */

  border: 1px solid #8f47ec;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.4s;
  max-width: 120px;
  margin: auto;
  margin-top: 20px;
}

input[type="submit"] {
  /* color: #fff; */
  /* background-color: #8f47ec; */
  text-decoration: none;
  /* font-family: "Muli ExtraBold", san-serif; */
  font-weight: 800;
  padding: 1.4rem 0;
  border: 1.5px solid #576382;
}

input[type="submit"]:hover {
  background-color: #000;
}

@media only screen and (min-width: 0px) {
  .tooltip3 .tooltiptext3 {
    visibility: hidden;
    min-width: 250px;
    background-color: #fff;
    text-align: left;
    border-radius: 6px;
    border: 1px solid #dabaff;
    /* Position the tooltip */
    left: -25px;
    /* left: 25vw; */
    margin: -26px 25px 25px 25px;
    margin: -64px 25px 25px 25px;
    position: absolute;
    z-index: 1;
    top: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    transform: translateY(10px);
    transition: all 0.25s ease-out;
    height: 141px;
    max-width: 300px;
  }

  .contact-bkgd {
    height: 100%;
    background-image: url("../images/contact-page/contact-page-header2.svg");
  }

  .contact-form {
    margin: auto;
    padding: 4rem 5% 4rem 5%;
    /* font-family: "Muli", sans-serif; */
    font-size: 1.8rem;
    width: 100%;
    max-width: 400px;
  }
  .contact-header {
    padding-top: 14rem;
    margin-bottom: 2rem;
    color: rgb(202, 193, 255);
    /* font-family: "Muli", san-serif; */
    font-weight: 800;

    text-transform: lowercase;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-color: #8e62cc;
  }
  .contain-8 {
    max-width: 620px;
    margin: auto;
    padding: 0 5%;
  }
}

@media only screen and (min-width: 640px) {
  .tooltip3 .tooltiptext3 {
    visibility: hidden;
    min-width: 250px;
    background-color: #fff;
    text-align: left;
    border-radius: 6px;
    border: 1px solid #dabaff;
    /* Position the tooltip */
    left: -54px;
    /* left: 25vw; */
    margin: -26px 25px 25px 25px;
    margin: -10px 25px 25px 25px;
    position: absolute;
    z-index: 1;
    top: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    transform: translateY(10px);
    transition: all 0.25s ease-out;
    height: 141px;
    max-width: 300px;
  }
  .contact-form {
    margin: auto;
    padding: 4rem 0 4rem 0;
    /* font-family: "Muli", sans-serif; */
    font-size: 1.8rem;
    width: 100%;
    max-width: 400px;
  }

  .contain-8 {
    max-width: 620px;
    margin: auto;
    padding: 0 0%;
  }
  .wip-header {
    padding-top: 12rem;
    margin-bottom: 2rem;
    color: rgb(112, 97, 199);
  }

  .contact-bkgd {
    height: 100%;
    background-image: url("../images/contact/contact-page-header.svg");
  }
}

@media only screen and (min-width: 900px) {
  .tooltip3 .tooltiptext3 {
    visibility: hidden;
    min-width: 250px;
    background-color: #fff;
    text-align: left;
    border-radius: 6px;
    border: 1px solid #dabaff;
    /* Position the tooltip */
    left: -25px;
    left: 45vw;
    margin: -26px 25px 25px 25px;
    margin: -10px 25px 25px 25px;
    position: absolute;
    z-index: 1;
    top: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    transform: translateY(10px);
    transition: all 0.25s ease-out;
    height: 141px;
    max-width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .contact-header {
    padding-top: 10rem;
    margin-bottom: 2rem;
    color: rgb(202, 193, 255);
  }
  .wip-header {
    padding-top: 10rem;
    margin-bottom: 2rem;
    color: rgb(112, 97, 199);
  }

  .tooltip3 .tooltiptext3 {
    visibility: hidden;
    min-width: 250px;
    background-color: #fff;
    text-align: left;
    border-radius: 6px;
    border: 1px solid #dabaff;
    /* Position the tooltip */
    left: -25px;
    left: 400%;
    margin: -26px 25px 25px 25px;
    margin: -1px 25px 25px 25px;
    position: absolute;
    z-index: 1;
    top: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    transform: translateY(10px);
    transition: all 0.25s ease-out;
    height: 141px;
    max-width: 300px;
  }
}

.tooltip3 {
  position: relative;
  display: inline;
  /* border-bottom: 1px dotted #8F47EC; */
  width: 100%;
}

.tooltip3:hover .tooltiptext3 {
  visibility: visible;
}

.tooltip3 {
  color: #fff;
  font-weight: 700;
  /* font-family: "Muli", sans-serif; */
  /* border-bottom: 1px dotted rgb(208, 173, 255); */
}

.tooltip3-dotted {
  color: rgb(238, 255, 254);
  border-bottom: 1px dotted rgb(208, 173, 255);
  display: inline;
  font-weight: 200;
  /* font-family: "Muli", sans-serif; */
}

.right-container {
  margin-left: 0px;
}
