body {
  font-family: "Avant" !important;
}

/******Typography*********/
@font-face {
  font-family: "Avant";
  src: url("../css/Avant/ITCAvantGardeGothicLT-Book.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Avant";
  src: url("../css/Avant/ITCAvantGardeGothicLT-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Avant";
  src: url("../css/Avant/ITCAvantGardeGothicLT-Bold.ttf");
  font-weight: 600;
}

.main-nav li {
  font-family: "Avant", sans-serif;
}

nav ul li {
  font-family: "Avant", sans-serif;
}
.hero-image {
  padding-top: 80px;
  width: 100%;
  background-color: #ffffff;
  background-image: url("../images/homemakers/sections/hero/homemakers-hero.png");
  background-size: cover;
  background-position: right;
  /* background-size: contain; */
  background-repeat: no-repeat;
}
h1 {
  font-family: "Avant", sans-serif;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-ExtraBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-Heavy.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Text-Bold.ttf") format("truetype");
  font-weight: 900;
}

/* @font-face {
    font-family: "Avant";
    src: url("../css/avant/ITCAvantGardeGothicLT-Book.ttf");
    font-weight: 400;
  } */

/* @font-face {
    font-family: "WorkSans";
    src: url("../css/WorkSans/WorkSans-Bold.ttf") format("truetype");
    font-weight: 700;
  } */
