.i-amphtml-layout-size-defined .i-amphtml-fill-content {
  margin-bottom: 2rem;
}

body {
  box-shadow: none;
}
.containerg {
  width: 90%;
  margin: 20px auto;
  columns: 2;
  column-gap: 20px;
}
.containerg .box {
  width: 100%;
  /* margin: 0 0 20px; */
  padding: 10px;
  /* background:#fff; */
  overflow: hidden;
  break-inside: avoid;
}
.columns {
  margin: auto;
  display: block;
  max-width: 1440px;
  margin-left: 5%;
}

.containerg .box h2 {
  margin: 0;
  text-transform: uppercase;
  padding: 10px;
  font-size: 16px;
}
.containerg .box p {
  margin: 0;
  padding: 10px;
  font-size: 16px;
}
@media only screen and (min-width: 0) {
  .columns {
    margin-left: 0%;
    padding: 0 10%;
  }
}

.button {
  color: #4a4a4a;
}

@media (max-width: 600px) {
  .containerg {
    /* columns:1; */
  }
}

.right-container,
.the-img {
  box-shadow: none;
}

/* main {
box-shadow: none;

} */

@media only screen and (min-width: 768px) {
  .column1 {
    /* float: left; */
    width: 46%;
    display: inline-block;
  }

  .column1-v2 {
    float: right;
    width: 46%;
    margin-left: 2%;
    display: inline-block;
    /* position: absolute; */
    vertical-align: top;
  }

  .columns {
    margin-left: 5.5%;
    /* display: inline-block */
    padding: 0;
  }
}

footer {
  display: block;
  /* position: relative; */
  /* float: left; */
}

main {
  display: block;
}
