html {
  font-size: 10px;
  scroll-behavior: smooth;
  margin: auto;
  /* display: block; */
}

html:not([amp4ads]) body {
  margin: auto !important;
}

body {
  background-color: #f7f7f7;
  background-color: #ffffff;
  color: #221204;
  display: grid;
  /* font-family: "Muli", sans-serif; */
  font-family: WorkSans;
  /* font-size: 25px; */
  /* line-height: 1.5; */
  grid-template-areas:
    "header"
    "main"
    "footer";
  max-width: 1440px;
  margin: auto;
}

html:not([amp4ads]) body {
  margin: auto;
}

/******Typography*********/
@font-face {
  font-family: "WorkSans";
  src: url("../css/WorkSans/WorkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "WorkSans";
  src: url("../css/WorkSans/WorkSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "WorkSans";
  src: url("../css/WorkSans/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "WorkSans";
  src: url("../css/WorkSans/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "WorkSans";
  src: url("../css/WorkSans/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

h3 {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 3.1rem;
  font-weight: 600;
  padding: 2rem 0 2rem 0;
  line-height: 3.8rem;
}

h3.main-header-white,
h5.white,
p.white,
.mini-label-white {
  color: white;
}

h3.main-header-white {
  color: white;
  font-weight: 500;
  padding: 1.2rem 0 2rem 0;
  line-height: 3.8rem;
  font-size: 3.1rem;
}

h3.center {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 3.1rem;
  text-align: center;
  padding: 6rem 0 1rem 0;
  font-weight: 500;
  color: #000000;
}

h4.persona-header3 {
  text-align: left;
  margin: auto;
  margin-bottom: 2rem;
  color: #000;
  font-weight: 500;
  /* padding: 0 5%; */
}

h4 {
  font-size: 2.5rem;
  line-height: 110%;
}

.text3 {
  width: 100%;
}

p {
  line-height: 3rem;
  color: #4a4a4a;
}

.quote {
  font-size: 1.8rem;
  text-align: left;
}

.white {
  color: #ffffff;
}

.white-para {
  color: #ffffff;
  font-size: 1.6rem;
  /* line-height: 100%; */
}

ol {
  padding: 0.6rem 0 0 0rem;
  max-width: 90%;
  margin: auto;
}

.list-white {
  margin-left: 2rem;
  padding: 0.4rem;
  padding-left: 1rem;
  color: white;
}

.list-black {
  padding-top: 0.5rem;
  margin-left: 2rem;
  padding: 0.3rem;
  padding-left: 1rem;
  color: #4a4a4a;
  /* font-size: 1.6rem; */
  line-height: 2.6rem;
}

.list:last-child {
  padding-bottom: 0;
}

.mini-label {
  color: rgb(170, 168, 170);
  font-weight: 800;
}

.menu-numbers {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 140%;
  color: #aaaaaa;
  /* margin-top: 1rem; */
  /* padding-bottom: 5.6rem; */
  /* padding-top: .4rem; */
  text-align: left;
  width: 200px;
  margin-left: auto;
}

.menu-options {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 140%;
  color: #8a8a8a;
  /* margin-top: 1rem; */
  padding-bottom: 1.6rem;
  /* padding-top: .4rem; */
  text-align: left;
  width: 200px;
  margin-left: auto;
}
.menu-links {
  font-size: 1.5rem;
  /* font-weight: 800; */
  line-height: 190%;
  /* margin-top: 1rem; */
  padding-bottom: 0.8rem;
  /* padding-top: .4rem; */
  text-align: left;
  width: 200px;
  margin-left: auto;
  text-decoration: underline;
  /* color: rgb(126, 54, 221); */
  font-weight: 500;
}

.blue {
  background-color: rgba(223, 251, 252, 0.64);
}

.coral {
  /* background-color: #13429d; */
  /* background-color: #006bb7; */
  /* background-color: #005dd0; */
  background-color: #009bf1;
  background-color: #0f92ff;
  /* background-color: #b139be; */
  background-color: #ca0fb1;
}

/* div.text-image {
  width: 100%;
  background-image: url("../images/spaceKit/sections/overview/sneak-peak-v2.png");
  background-size: contain;
} */

/******Buttons*********/
.button-container-2 {
  background-color: #8f47ec;
  padding: 7px 16px;
  /* padding: .7rem 1.1rem;
  padding: 5px 10px 10px 10px; */
  /* max-height: 5rem; */
}
.button-style-4 {
  background-color: #8f47ec;
  box-shadow: 0px 0px 14px -12px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  display: inline-block;
  /* font-family: "Muli", sans-serif; */
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 800;
  /* height: 48px; */
  width: 140px;
  text-align: center;
  padding-bottom: 1.3rem;
  padding-top: 1.3rem;
  text-transform: LOWERcase;
  transition-duration: 0.5s;
  white-space: nowrap;
  -moz-box-shadow: 0px 0px 14px -12px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 14px -12px rgba(247, 16, 16, 0.4);
  margin: 4rem 0 2rem 0;
}

.button-style-4:hover {
  background-color: #4a4a4a;
  color: #fff;
  transition-duration: 0.4s;
}

/******Header*********/
.logo {
  display: inline-block;
  max-height: auto;
  max-width: 10rem;
}

img {
  height: auto;
  max-width: 100%;
}

.main-nav li {
  color: #4a4a4a;
  font-family: "WorkSans", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  text-transform: lowercase;
}

.nav-links {
  color: #4a4a4a;
}

nav ul li {
  color: #4a4a4a;
  font-family: "WorkSans", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  position: relative;
  text-transform: lowercase;
}

.social {
  padding-left: 10px;
}

.mail {
  margin-top: 10px;
}

.mail2 {
  margin-top: 10px;
}

section {
  display: flex;
}

section.center {
  margin-top: 7rem;
  margin-bottom: 9rem;
}

section div {
  width: 50%;
}

section div.button-container4 {
  width: 140px;
  margin: auto;
}

section div.text-center {
  width: 100%;
  max-width: 618px;
  margin: auto;
  text-align: left;
  padding-top: 2rem;
}

section div.padding {
  /* padding-top: 80px; */
  /* margin-top: 80px; */
  width: 100%;
}

section div.padding-bottom2 {
  padding-top: 50px;
  width: 100%;
}

.mini-label-white {
  color: white;
  font-weight: 800;
}

.mini-label-white {
  color: #e2e2f5;
  text-align: left;
}

.mini-label-white-center {
  color: #cecee6;
  text-align: center;
}

div.header-full-image {
  height: 100vh;
  background-size: cover;
  background-position: center;

  position: sticky;
  position: -webkit-sticky;
  top: 0;

  padding-left: 160px;
}

div.side-menu2 {
  height: 60vh;
  background-size: cover;
  background-position: center;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

section.full {
  /* z-index: -1; */
  width: 100%;
  background-image: url("../images/spaceKit/sections/overview/problem-bkgd.png");
  background-size: cover;
  background-position: 15% 0%;
}

div.image-2 {
  z-index: -1;
}

div.image-3 {
  z-index: -1;
}

.competitive-logos-1 {
  background-image: url("../images/homemakers/sections/process/tody.jpg");
  border-radius: 22px;
}

.competitive-logos-2 {
  background-image: url("../images/homemakers/sections/process/ourhome.jpg");
  border-radius: 22px;
}

.competitive-logos-3 {
  background-image: url("../images/homemakers/sections/process/wunderlist.jpg");
  border-radius: 22px;
}

.hero-image {
  padding-top: 80px;
  width: 100%;
  background-color: #ffffff;
  background-image: url("../images/homemakers/sections/hero/homemakers-hero.png");
  background-size: cover;
  background-position: right;
  /* background-size: contain; */
  background-repeat: no-repeat;
}

/* .hero-image2 {
  padding-top: 80px;
  width: 100%;
  background-color: #009bf1;
  background-image: url("https://media1.tenor.com/images/9b3b9cb886bb01eb979d2bd1f06abf7e/tenor.gif");
  background-size: cover;
  background-position: left;
  opacity: 0.4;
  background-repeat: no-repeat;
} */

.hero-image1 {
  padding-top: 80px;
  width: 100%;
  background-color: #ffffff;
  background-image: url("https://media1.tenor.com/images/9b3b9cb886bb01eb979d2bd1f06abf7e/tenor.gif");
  background-size: cover;
  background-position: left;
  /* background-size: contain; */
  opacity: 0.6;
  background-repeat: no-repeat;
}

.ref-bkgd {
  background-color: #b139be;
  background-color: #0f92ff;
  background-color: #ca0fb1;
  /* background-color: #009bf1; */
}

.hero-image2 {
  width: 100%;
  background-image: url("https://i.giphy.com/media/tYQoVhuLAZhKw/giphy.gif");
  background-size: cover;
  background-position: bottom;
  opacity: 0.7;
  /* background-repeat: no-repeat; */
}

h5 {
  font-size: 2.4rem;
}

/* .hero {
  width: 100%;
  background-color: red;
} */

h1 {
  margin: 2rem 0rem;
  font-size: 4.8rem;
  /* font-family: 'Work Sans'; */
  font-family: "Black", serif;
  /* font-weight: 500; */
  line-height: 1.16;
  text-align: left;
  color: #000000;
  letter-spacing: -2px;
  letter-spacing: 0.1px;
}

h1.main-text {
  font-weight: 500;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-ExtraBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Display-Heavy.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Black";
  src: url("../css/black/Black-Text-Bold.ttf") format("truetype");
  font-weight: 900;
}

.line2 {
  border-top: 1px solid rgb(218, 218, 218);
  width: 100%;
  /* margin: 0 auto; */
  margin-top: 1.4rem;
}

/* .line3 {
  border-bottom: 1px solid rgb(218, 218, 218);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 0 30px 0;
} */

.text2 {
  /* margin: auto; */
  /* width: 100%;
  max-width: 545px;
  padding: 0 0 0 107px; */
}

.bottom {
  width: 100%;
  /* position: relative; */
}

.persona1-card-top p {
  color: #fff;
}

.mob {
  max-width: 300px;
}

@media screen and (min-width: 0px) {
  .padding-300 {
    padding-top: 400px;
  }

  .pad {
    padding-top: 2rem;
  }

  .padding-bottom {
    padding-bottom: 0;
  }

  div.side-menu {
    height: 60vh;
    background-size: cover;
    background-position: center;

    position: initial;
    position: initial;
    top: 0;
  }

  div.side-menu4 {
    height: 60vh;
    background-size: cover;
    background-position: center;

    position: initial;
    position: initial;
    top: 0;
  }

  section div.new-text-container-center {
    /* padding: 60px; */
    width: 80%;
    margin: auto;
  }

  .line3 {
    border-bottom: 1px solid rgb(218, 218, 218, 0);
  }

  .text2 {
    margin: auto;
    width: 80%;
    /* max-width: 545px; */
    /* padding: 0 0 0 107px; */
    padding: 80px 0 0 0px;
  }

  section div.new-text-container-problem {
    padding: 60px 0px 60px 0px;
    width: 100%;
    /* max-width: 720px; */
    background-color: rgb(139, 39, 227, 0.7);
  }
  .text-problem {
    margin: auto;
    width: 80%;
  }

  .text-problem2 {
    margin: auto;
    width: 80%;
  }

  .text {
    margin: auto;
    width: 80%;
    /* max-width: 720px; */
  }

  .imgDetails {
    position: relative;
    float: left;
    float: none;
    height: 100px;
    width: 100%;
  }

  .imgDetails h5 {
    position: absolute;
    bottom: 0;
    line-height: 130%;
    color: #4a4a4a;
    padding-bottom: 2rem;
  }

  section div.new-text-container {
    margin: auto;
    padding: 100px 0px 0px 0px;
    width: 100%;
    max-width: 868px;
    /* min-width: 800px; */
    /* min-width: 800px; */
  }

  .hero-image {
    padding-top: 0px;
    width: 100%;
    /* height: 80vh; */
    background-color: #fff;
    /* background-image: url(../images/homemakers/sections/hero/homemakers-hero.png); */
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .new-text-container3 {
    width: 100%;
    /* max-width: 868px; */
    min-width: 0px;
    padding: 100px 0px 0px 0px;
    z-index: -1;
  }

  .new-text-container4 {
    width: 100%;
    padding: 100px 0px 100px 0px;
    z-index: -1;
  }

  section {
    max-width: 1440px;
  }

  .stretch {
    display: block;
    /* background-image: url("https://i.giphy.com/media/tYQoVhuLAZhKw/giphy.gif"); */
    width: 100%;
    background-color: #009bf1;
    background-image: url("https://media1.tenor.com/images/9b3b9cb886bb01eb979d2bd1f06abf7e/  tenor.gif");
    background-size: cover;
    /* background-position: left; */
    /* background-size: contain; */
    /* opacity: 0.4; */
  }

  section div.image-container {
    padding: 20px 0px 0px 0px;
    width: 100%;
    /* max-width: 720px; */
  }

  .menu-content {
    margin-right: 90px;
    padding-right: 10%;
    margin-left: auto;
    width: 100%;
  }

  .small,
  .persona-copy1,
  .persona-copy2 {
    width: 100%;
  }

  .persona-copy1 {
    padding-left: 80px;
    display: inline-block;
    width: 30%;
  }

  .persona-card {
    margin-top: 2rem;
    width: 100%;
  }

  .persona1-card-top {
    margin-top: 50px;
    width: 300px;
  }

  .persona1-img {
    background-image: url("../images/homemakers/sections/personas/jake.png");
    /* background-position: bottom; */
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 40.4rem;
    min-height: 38.4rem;
    /* min-height: 34.2rem; */
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .dem-table {
    margin: auto;
    width: 100%;
  }

  .persona-text {
    color: #fff;
    display: inline;
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
  }

  .persona-name {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    width: 100%;
  }

  .persona-role {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 140%;
    padding-top: 1rem;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
  }

  .demographics {
    background-color: #0a213e;
    color: #fff;
    padding: 2.4rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .demographics2 {
    background-color: #101f3a;
    color: #fff;
    padding: 2.4rem;
  }

  .dem-data-type {
    font-size: 1.8rem;
    font-weight: 700;
    padding-right: 6rem;
  }

  .dem-data {
    font-size: 1.8rem;
    padding-top: 0.6rem;
    /* padding-bottom: 1.6rem; */
    text-align: right;
  }

  #persona1-quote {
    color: #5d6a50;
    /* font-family: "Muli", serif; */
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 5.6rem;
    width: 100%;
  }

  .card-container {
    width: 400%;
    max-width: 100%;
    display: inline-block;
    margin: auto;
  }

  body {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  header {
    height: 75vw;
  }

  section {
    display: block;
  }

  section div {
    width: 100%;
  }

  div.side-menu {
    height: 150px;
    margin: auto;
    max-width: 160px;
    align-content: center;
    justify-content: center;
    /* margin: auto; */
  }

  div.side-menu4 {
    height: 150px;
    margin: auto;
    max-width: 160px;
    align-content: center;
    justify-content: center;
    /* margin: auto; */
  }

  div.side-menu2 {
    height: 150px;
    margin: auto;
    max-width: 160px;
    align-content: center;
    justify-content: center;
    /* margin: auto; */
  }

  .column {
    float: left;
    width: 100%;
    margin: auto;
    /* padding: 10px; */
  }

  .column-v2 {
    float: left;
    width: 100%;
    /* padding: 10px; */
  }

  .column5 {
    float: left;
    width: 15%;
    /* padding: 10px; */
  }

  .column6 {
    float: left;
    width: 85%;
    padding: 10px;
  }

  .left2 {
    width: 100%;
  }

  .left2 p {
    font-size: 2.2rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }

  .middle {
    width: 100%;
  }

  .right2 {
    width: 100%;
  }

  .right3 {
    width: 20%;
  }

  .left3 {
    width: 80%;
  }

  .pad {
    padding-bottom: 8rem;
  }

  .padder {
    margin-bottom: 8rem;
  }

  .pad-top {
    padding-top: 0rem;
  }

  .pad-ref {
    padding-top: 0;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .nada {
    width: 100%;
  }

  .row {
    width: 80%;
    position: relative;
    padding: 6rem 0 0 0;
    margin: auto;
  }

  .row4 {
    width: 80%;
    position: relative;
    padding: 6rem 0 0 0;
    margin: auto;
  }

  .row2 {
    width: 100%;
    position: relative;
    padding: 6rem 0 0 107px;
  }

  .row3 {
    width: 100%;
    position: relative;
    padding: 6rem 0 6rem 0px;
  }

  /* .column1 {
    float: left;
    width: 50%;
    background-color: red;
  }
  
  .column2 {
    float: left;
    width: 50%;
    background-color: greenyellow;
  }
  
  .column1, .column2 {
    flex: 40%;
    padding: 0px;
    height: 300px; 
  } */

  .left {
    width: 100%;
  }

  div.side-menu {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding-top: 14rem;
    /* padding-top: 18rem; */
    /* margin-top: 8rem; */
    /* background: #fafafa; */
  }

  div.side-menu {
    display: none;
  }

  .side-menu1 {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* z-index: -1; */

    height: 150px;
    margin-left: 0;
    max-width: 160px;
    align-content: center;
    justify-content: center;

    position: static;
    margin: auto;
  }

  div.side-menu2 {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding-top: 18rem;
    /* margin-top: 8rem; */
    /* background: #fafafa; */
  }

  .pad {
    padding-bottom: 0;
  }

  .side-menu1,
  .side-menu {
    display: none;
  }

  .no-float {
    float: none !important;
  }
}

@media screen and (min-width: 400px) {
  .persona1-card-top {
    width: 100%;
    display: block;
    grid-template-areas:
      "persona1-img"
      "demographic-info";
    grid-template-columns: 1fr;
    vertical-align: top;
    float: none;
    z-index: 0;
  }

  .side-menu1 {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* z-index: -1; */

    height: 150px;
    margin-left: 0;
    max-width: 160px;
    align-content: center;
    justify-content: center;

    position: static;
    margin: auto;
  }

  div.side-menu2 {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding-top: 18rem;
    /* margin-top: 8rem; */
    /* background: #fafafa; */
  }

  .persona1-card-top {
    width: 100%;
    display: block;
    grid-template-areas:
      "persona1-img"
      "demographic-info";
    grid-template-columns: 1fr;
    vertical-align: top;
    float: none;
    z-index: 0;
  }

  .persona1-img {
    /* background-position: bottom; */
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 40.4rem;
    min-height: 38.4rem;
    /* min-height: 34.2rem; */
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 580px) {
  .left2 {
    width: 100%;
  }

  .left2 p {
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }

  .middle {
    width: 50%;
  }

  .right2 {
    width: 50%;
  }

  .persona1-img {
    /* background-position: bottom; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 40.4rem;
    /* min-height: 38.4rem; */
    /* min-height: 34.2rem; */
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  h3,
  h3.main-header-white {
    font-size: 2.8rem;
  }

  .pad {
    padding-bottom: 8rem;
  }

  .pad-top {
    /* padding-top: 15rem; */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .nada {
    width: 100%;
  }
}

.pads {
  padding: 8rem 0;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }

  .hider {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .padding-300 {
    padding-top: 0px;
  }

  section.new {
    display: inline-flex;
  }

  .stretch {
    display: none;
  }
  /* .column {
    float: left;
    width: 50%;
  }
  
  .left {
    width: 50%;
  }
  
  .left2 {
    width: 25%;
  }
  
  .left2 p {
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  .middle{
    width: 40%;
  }
  
  .right2 {
    width: 35%;
  } */

  .pad {
    /* padding-bottom: 0rem; */
  }

  .pad2 {
    padding-top: 4rem;
    padding-bottom: 0rem;
  }

  .pad3 {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }

  .pad4 {
    padding-top: 4rem;
    padding-bottom: 0rem;
  }

  .pad-top {
    /* padding-top: 15rem; */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .nada {
    width: 100%;
  }

  section div.new-text-container- {
    padding: 100px 0px 0px 0px;
    width: 100%;
    max-width: 868px;
  }

  div.side-menu {
    /* display: block; */
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding-top: 14rem;
    /* padding-top: 18rem; */
    /* margin-top: 8rem; */
    /* background: #fafafa; */
  }

  .side-menu1 {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* z-index: -1; */

    height: 150px;
    margin-left: 0;
    max-width: 160px;
    align-content: center;
    justify-content: center;

    position: static;
    margin: auto;
  }

  div.side-menu2 {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding-top: 18rem;
    /* margin-top: 8rem; */
    /* background: #fafafa; */
  }
  .menu-content {
    margin-right: 90px;
    padding-right: 10%;
    margin-left: auto;
    width: 100%;
  }

  .problem-bkgd-mobile {
    display: none;
  }
}

@media screen and (min-width: 718px) {
  section.full {
    /* z-index: -1; */
    width: 100%;
    background-image: url("../images/spaceKit/sections/overview/problem-bkgd.png");
    background-size: cover;
    background-position: 75% 0%;
    /* padding-left: 80px; */
  }
}

@media screen and (min-width: 800px) {
  h3,
  h3.main-header-white {
    font-size: 3.1rem;
  }

  section div.new-text-container-problem {
    padding: 60px 0px 60px 0px;
    width: 60%;
    /* max-width: 720px; */
    background-color: rgb(139, 39, 227, 0.7);
  }

  /* .text-problem {
    margin: auto;
    margin-left: 20%;
    width: 80%;
  } */

  .new-text-container-problem {
    width: 60%;
  }
}

@media screen and (min-width: 890px) {
  .magnifierWrap {
    width: 900;
    margin: auto;
    /* position: relative; */
    z-index: 0;
    /* background-color: #edefff; */
  }
  .magnifier {
    margin-left: -40px;
    left: -40px;
    margin-top: -40px;
    width: 275px;
    height: 275px;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
      0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    background: url("https://raw.githubusercontent.com/uxdesignuo/img/master/hm-final-screens-big2.png")
      no-repeat right top;
    display: none;
    z-index: 0.1;
  }
}

@media screen and (min-width: 900px) {
  /* section div.new-new-text-container {
    padding: 80px 0px 100px 0px;
    width: 100%;
    max-width: 720px;
  } */

  .no-float {
    float: left !important;
  }

  .pad-ref {
    margin-top: 8rem;
  }

  .pad {
    padding-top: 0rem;
  }

  .new-text-container3 {
    padding-top: 10rem;
    /* padding-bottom: 10rem; */
    /* margin-top: 10rem; */
  }

  .new-text-container4 {
    padding-top: 10rem;
    /* padding-bottom: 10rem; */
    /* margin-top: 10rem; */
  }

  .persona1-card-top {
    margin-top: 0px;
    width: 380px;
    display: inline-table;
    grid-template-areas:
      "persona1-img"
      "demographic-info";
    grid-template-columns: 1fr;
    vertical-align: top;
    float: right;
  }
  .pad2 {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .persona1-card-top {
    width: 340px;
    display: block;
    grid-template-areas:
      "persona1-img"
      "demographic-info";
    grid-template-columns: 1fr;
    vertical-align: top;
    float: none;
    z-index: 0;
  }

  .column {
    float: 0;
    width: 50%;
    margin: none;
    /* max-width: 300px; */
    /* padding: 80px 0 0 0;  */
  }

  .column-v2 {
    float: 0;
    width: 50%;
    padding: 0px;
  }

  /* .left {
    width: 50%;
  } */

  .left2 {
    width: 100%;
  }

  .left2 p {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .middle {
    width: 50%;
  }

  .right2 {
    width: 50%;
  }

  section div.new-text-container {
    padding: 80px 0px 100px 0px;
    width: 100%;
    max-width: 720px;
  }

  .text-problem {
    width: 50%;
  }

  section div.new-text-container {
    /* margin: 0; */
    /* margin: auto; */
    padding: 100px 0px 0px 0px;
    width: 100%;
    /* max-width: 868px;
    max-width: 800px;
    min-width: 868px;
    min-width: 800px; */
  }

  .new-text-container3 {
    width: 100%;
    max-width: 800px;
    min-width: 0px;
    padding: 90px 0px 0px 0px;
    z-index: -1;
    margin: auto;
  }

  .new-text-container4 {
    width: 100%;
    max-width: 800px;
    min-width: 0px;
    padding: 90px 0px 0px 0px;
    z-index: -1;
    margin: auto;
  }

  .text,
  .left {
    margin: 0;
    width: 100%;
    padding-left: 107px;
    max-width: 720px;
    /* margin-left: 107px; */
    /* max-width: 720px; */
  }

  .text,
  .left-no-padding {
    margin: auto;
    width: 100%;
    padding-left: 0px;
    /* margin-left: 107px; */
    /* max-width: 720px; */
  }

  .left-image {
    margin: auto;
    width: 100%;
    padding-left: 0px;
    /* margin-left: 107px; */
    /* max-width: 720px; */
  }

  .left {
    margin: 0;
    width: 50%;
    padding-left: 107px;
    max-width: 720px;
    /* margin-left: 107px; */
    /* max-width: 720px; */
  }

  .left {
    margin: 0;
    width: 50%;
    padding-left: 0px;
    padding-right: 7%;
    max-width: 720px;
    /* margin-left: 107px; */
    /* max-width: 720px; */
  }

  .text-problem {
    margin: auto;
    width: 100%;
    padding-left: 107px;
    padding-right: 107px;
  }

  .shorter {
    max-width: 720px;
    margin: 0;
  }

  .shorter {
    margin: auto;
  }

  .text-problem {
    margin: auto;
    margin-left: 20%;
    width: 80%;
    padding-left: 0px;
    /* padding-right: 5%; */
  }

  .row4 {
    margin-left: auto;
    width: 90%;
  }
}

@media screen and (min-width: 988px) {
  .imgDetails {
    height: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .new-text-container3 {
    width: 100%;
    max-width: 720px;
    min-width: 0px;
    padding: 80px 0px 0px 0px;
    z-index: -1;
  }

  .new-text-container4 {
    width: 100%;
    max-width: 720px;
    min-width: 0px;
    padding: 80px 0px 0px 0px;
    z-index: -1;
  }

  .row {
    margin-left: 0%;
  }

  .row4 {
    margin-left: 0%;
  }

  .nada {
    max-width: 800px;
  }

  .shorter {
    max-width: 800px;
    margin: 0;
  }

  .row {
    width: 100%;
    position: relative;
    padding: 0rem 0 0 0;
  }

  .row4 {
    width: 100%;
    position: relative;
    padding: 0rem 0 0 0;
  }

  .row2 {
    width: 100%;
    position: relative;
    padding: 6rem 0 0 107px;
  }

  .row3 {
    width: 100%;
    position: relative;
    padding: 6rem 0 6rem 0px;
  }

  .cd-primary-nav > ul li {
    display: inline-block;
    float: none;
    margin-right: 1.5em;
  }

  section div.image-container {
    padding: 20px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
  }

  .side-menu {
    padding-bottom: 150px;
  }

  .side-menu1 {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* z-index: -1; */

    height: 150px;
    margin-left: 0;
    max-width: 160px;
    align-content: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;

    margin: 0 auto;
  }
}

@media screen and (min-width: 1050px) {
  .popup {
    margin: 100px auto 150px auto;
    padding: 5%;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    z-index: 10;
    max-width: 620px;
  }

  section div.new-text-container-problem {
    padding: 60px 0px 60px 0px;
    width: 50%;
  }

  .side-menu1 {
    display: block;
  }

  div.side-menu {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding-top: 14rem;
    /* padding-top: 18rem; */
    /* margin-top: 8rem; */
    /* background: #fafafa; */
  }

  section div.padding-bottom {
    padding-top: 200px;
    width: 100%;
  }

  .shorter {
    margin: 0;
  }

  .new-text-container3 {
    margin: 0;
  }

  .new-text-container4 {
    margin: 0;
  }

  section div.new-text-container {
    margin: 0;
    padding: 100px 0px 0px 0px;
    width: 100%;
    /* max-width: 868px; */
    min-width: 800px;
    /* min-width: 800px; */
  }

  .text-problem {
    margin: auto;
    margin-left: 0;
    width: 100%;
    padding-left: 107px;
  }

  .text,
  .left-no-padding {
    margin: 0;
    width: 100%;
    padding-left: 107px;
    /* margin-left: 107px; */
    /* max-width: 720px; */
  }

  .text,
  .left-no-padding {
    /* margin: auto; */
    width: 100%;
    padding-left: 107px;
    /* margin-left: 107px; */
    /* max-width: 720px; */
  }

  div.side-menu {
    height: 60vh;
    background-size: cover;
    background-position: center;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  .hero-image-width {
    display: none;
  }

  .ref-image-width {
    display: none;
  }

  section {
    display: flex;
  }

  .line3 {
    border-bottom: 1px solid rgb(218, 218, 218);
  }

  section div {
    width: 100%;
  }

  .new-text-container2 {
    /* padding-top: 10rem; */
    /* margin-top: 10rem; */
  }

  section div.text {
    /* padding: 0 30px; */
  }

  section div.text2 {
    padding: 0 30px;
  }

  div.side-menu {
    height: 150px;
    margin: auto;
    margin: 0 auto;
    max-width: 160px;
    align-content: center;
    justify-content: center;
    margin-bottom: 20rem;
  }

  div.nope {
    height: 150px;
    margin: auto;
    margin: 0 auto;
    max-width: 160px;
    align-content: center;
    justify-content: center;
    margin-bottom: 0;
  }

  div.side-menu2 {
    height: 150px;
    margin: auto;
    max-width: 160px;
    align-content: center;
    justify-content: center;
    /* margin: auto; */
  }

  div.image-1 {
    padding-left: 0px;
  }

  .hero-image {
    padding-top: 80px;
    margin-top: 80px;
    width: 100%;
    /* background-color: red; */
    /* background-image: url("../images/homemakers/sections/hero/homemakers-hero.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  section div.image-container {
    padding: 20px 0px 0px 0px;
    width: 100%;
    max-width: 90%;
  }

  .side-menu {
    padding-bottom: 150px;
  }

  .side-menu1 {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* z-index: -1; */

    height: 150px;
    margin-left: 0;
    max-width: 160px;
    align-content: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;

    margin: 0 auto;
  }

  div.side-menu2 {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding-top: 18rem;
    /* margin-top: 8rem; */
    /* background: #fafafa; */
  }

  .menu-content {
    margin-right: 90px;
    padding-right: 10%;
    margin-left: auto;
    width: 100%;
  }

  .problem-bkgd-mobile {
    display: none;
  }

  .imgDetails {
    position: relative;
    float: left;
    float: none;
    height: 150px;
    width: 100%;
  }

  .new-text-container3 {
    width: 100%;
    max-width: 800px;
    min-width: 0px;
    padding: 150px 0px 0px 0px;
    z-index: -1;
  }

  .new-text-container4 {
    width: 100%;
    max-width: 800px;
    min-width: 0px;
    padding: 80px 0px 0px 0px;
    z-index: -1;
  }

  .nada {
    max-width: 800px;
  }

  .shorter {
    max-width: 720px;
    margin: 0;
  }

  .nada {
    width: 100%;
  }

  .nada {
    width: 80%;
    /* margin: auto; */
  }

  .nada {
    padding-top: 4rem;
    width: 100%;
    /* margin: auto; */
    padding-left: 107px;
  }

  section div.image-container {
    padding: 20px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1070px) {
  .nada {
    width: 100%;
  }

  section div.image-container {
    padding: 20px 0px 0px 0px;
    width: 100%;
    max-width: 800px;
  }

  section div.new-text-container {
    margin: 0;
    padding: 100px 0px 0px 0px;
    width: 100%;
    max-width: 868px;
    min-width: 868px;
  }

  .new-text-container3 {
    width: 100%;
    max-width: 868px;
    min-width: 0px;
    padding: 100px 0px 0px 0px;
    z-index: -1;
  }

  .new-text-container4 {
    width: 100%;
    max-width: 868px;
    min-width: 0px;
    padding: 60px 0px 0px 0px;
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .persona1-card-top {
    width: 380px;
    display: block;
    grid-template-areas:
      "persona1-img"
      "demographic-info";
    grid-template-columns: 1fr;
    vertical-align: top;
    float: right;
  }

  section div.image-container {
    padding: 20px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
  }

  .nada {
    max-width: 100%;
  }
}

@media screen and (min-width: 1300px) {
  .text-problem {
    margin: auto;
    width: 100%;
  }

  .text-problem2 {
    margin: 0;
    width: 100%;
    padding-left: 107px;
    padding-right: 107px;
  }
  .text {
    margin: 0;
    width: 100%;
    max-width: 725px;
  }

  section div.new-text-container {
    /* padding: 150px 0px 00px 0px; */
    width: 80%;
    max-width: 868px;
    /* background-color: rgb(139, 39, 227, .7); */
  }

  div.side-menu {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding-top: 14rem;
    padding-top: 20rem;
    /* margin-top: 8rem; */
    /* background: #fafafa; */
  }

  div.side-menu1 {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding-top: 14rem;
    padding-top: 20rem;
    /* margin-top: 8rem; */
    /* background: #fafafa; */
  }

  .persona1-card-top {
    width: 380px;
    display: block;
    grid-template-areas:
      "persona1-img"
      "demographic-info";
    grid-template-columns: 1fr;
    vertical-align: top;
    float: right;
  }

  div.image-container {
    padding: 20px 0px 0px 0px;
    width: 100%;
    min-width: 868px;
  }

  section div.text2 {
    padding: 0;
    margin-left: 107px;
    max-width: 475px;
  }

  popup {
    margin: 100px auto 150px auto;
    padding: 5%;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    z-index: 10;
    max-width: 690px;
    /* transition: all 2s ease-in-out; */
  }
}

@media screen and (min-width: 1440px) {
  .popup {
    margin: 100px auto 150px auto;
    padding: 80px 5%;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    z-index: 10;
    max-width: 690px;
    /* transition: all 2s ease-in-out; */
  }
}

.box1,
.contact-me,
.wht-bkgd,
.contact-copy1,
.contact-text,
.contact-btns3,
.button-container3,
.return-top {
  width: 100%;
}

.contact-text {
  font-size: 1.8rem;
  /* line-height: 130%; */
  line-height: 180%;
}

.contact-title1 {
  text-align: center;
}

.main-text {
  /* letter-spacing: .2px; */
}

h5.comp-name {
  /* margin: auto; */
  text-align: center;
  left: 50%;
}

.vertical-line {
  /* border-left: 3px solid rgb(0, 128, 122); */
  height: 150%;
  /* min-height: 150px; */
  width: 100%;
  /* padding-right: 60px; */
}

p.quote {
  padding: 2rem 0;
}

.green-text {
  background-color: #c6fff2;
}

.orange-text {
  background-color: #ffeac1;
}

.red-text {
  background-color: #ffe1e5;
}

.green {
  border-left: 3px solid #c6fff2;
}

.orange {
  border-left: 3px solid #ffeac1;
}

.red {
  border-left: 3px solid #ffe1e5;
}

.top {
  margin: 4rem 0 0 0;
}

.center {
  margin: 4rem 0 0 0;
}

.bottom {
  margin: 4rem 0 4rem 0;
}

.paddings {
  /* margin: 4rem 0; */
  /* padding-bottom: 30px; */
  padding-right: 5%;
}

.paddings2 {
  /* margin: 4rem 0; */
  /* padding-bottom: 30px; */
  padding-right: 0%;
}

.vertical-line p {
  padding-left: 30px;
}

.plus-padding {
  display: inline-table;
  padding-bottom: 2rem;
}

.key-sections2 {
  width: 100%;
  padding: 0rem 0;
  margin-top: 50px;
}

.key-sections3 {
  width: 100%;
  padding: 0rem 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.image-padding {
  padding: 3rem 0 0 0;
}

/* .row {
  width: 100%;
  position: relative;
  padding: 2rem 0 0 0;
} */

/* .row2 {
  width: 100%;
  position: relative;
  padding: 6rem 0 0 107px;
} */

/* .row3 {
  width: 100%;
  position: relative;
  padding: 6rem 0 6rem 0px;
} */

/* .column1 {
  float: left;
  width: 50%;
  background-color: red;
}

.column2 {
  float: left;
  width: 50%;
  background-color: greenyellow;
}

.column1, .column2 {
  flex: 40%;
  padding: 0px;
  height: 300px; 
}  */

.column1 {
  float: left;
  width: 50%;
  background-color: red;
}

.column2 {
  float: left;
  width: 10%;
}

.column3 {
  float: left;
  width: 90%;
  padding-left: 5%;
}

.column1,
.column2 {
  flex: 40%;
  padding: 0px;
  height: 300px;
}

/**** Modal ***/

.box {
  /* width: 100%; */
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  /* padding: 35px; */
  /* border: 2px solid #fff; */
  /* border-radius: 20px/50px; */
  /* background-clip: padding-box; */
  text-align: center;
}

.overlay {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(189, 189, 189, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 11;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  top: 50px;
  right: 50px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.mini-label-header {
  color: #8f47ec;

  font-weight: 800;
  font-size: 1.6rem;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  z-index: 10;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  z-index: 10;
}

.popup .close:hover {
  color: #8f47ec;
  z-index: 10;
}
.popup .content {
  max-height: 30%;
  z-index: 10;
  max-height: calc(100vh - 260px);
  overflow-y: auto;
}

.popup {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.button {
  /* font-size: 1em; */
  /* padding: 10px; */
  color: rgb(114, 68, 175);
  /* border: 2px solid #06D85F;
  border-radius: 20px/50px; */
  text-decoration: none;
  cursor: pointer;
  /* transition: all 0.3s ease-out; */
}
.button:hover {
  background: rgba(76, 219, 255, 0.295);
}

.progress {
  background: linear-gradient(
    to right,
    rgb(93, 189, 245) var(--scroll),
    transparent 0
  );
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5.5px;
  z-index: 10;
  max-width: 1440px;
}

.image-container {
  margin-top: 1rem;
}
