
  .callout-text {
	text-align: center;
	max-width: 1140px;
	margin: 20px auto;
  }

  blockquote{
	  margin: 8% 0;
  }

  .testimonial-carousel .icon-container {
	position: relative;
	padding: 0 5px;
	max-width: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 9999;
  }

  @media (min-width: 0) {

	.testimonial-carousel {
		background-image: url(../images/homepage/test2.png);
		/* background-attachment: fixed; */
		background-color: #f6f9ff;
		max-width: 780px;
		margin: auto;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.testimonial-carousel .icon-container {
	  max-width: 50px;
	  padding: 0 10px;
  }}





  @media (min-width: 768px) {
	.testimonial-carousel .icon-container {
	  max-width: 50px;
	  padding: 0 10px;
	}


  }
  .testimonial-carousel .icon-container span.lnr {
	color: #dadada;
	font-size: 1.6em;
	cursor: pointer;
	transition: color 0.3s linear;
  }
  @media (min-width: 768px) {
	.testimonial-carousel .icon-container span.lnr {
	  font-size: 1.6em;
	}

	
  }
  .testimonial-carousel .icon-container span.lnr:hover {
	color: #fff;
  }
  .testimonial-carousel p {
	font-size: 1em;
  }
  @media (min-width: 768px) {
	.testimonial-carousel p {
	  /* font-size: 1.4em; */
	  text-align: left;
	}
  }
  
  .testimonial-items {
	position: relative;
	flex: 1;
	overflow: hidden;
	color: #4a4a4a;
  }
  
  .testimonial-item {
	width: 100%;
	height: 100%;
	transition: transform 1s;
	/* position: absolute; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 620px;
	margin: auto;
  }
  .testimonial-item p.testimonial-author {
	font-weight: bold;
	text-align: right;
  }
  .testimonial-item.first {
	left: 0;
  }
  .testimonial-item.second {
	left: 100%;
  }
  .testimonial-item.third {
	left: 200%;
  }
  

  .purp-bkgd {
	/* background-color: rgb(243, 242, 255); */
	margin-top:8rem;
  }

  .icon-client{
	background: red;
	background-image: url("https://pbs.twimg.com/profile_images/885424917126184960/qG_C9lZ3_400x400.jpg");
	background-position: center top;
  	background-repeat: no-repeat;
  	background-size: 130%;
	width: 70px;
	height: 70px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	float: left;
	text-align: center;
	line-height: 29px;
	margin-top: 2px;
	margin-RIGHT: 2REM;
}



.infor-client {
	display: inline-block;
	margin: 0 auto;
	width: 220px;
	margin-top: 1.8rem;
  }
  
  .client-name{
	  padding-left: 38px;
	  font-size: 13px;
	  letter-spacing: 2px;
	  text-transform: uppercase;
	  display: block;
	  line-height: 120%;
	  white-space: nowrap;
	  margin-top: 1.3rem;
  }
  
  .client-position{
	  font-size: 13px;
	  font-style: italic;
	  line-height: 150%;
	  padding-left: 38px;
	  display: block;
	  text-align: left;
  }

  .client-position2{
	font-size: 14px;
	letter-spacing: 1.2px;
	/* font-style: italic; */
	line-height: normal;
	font-weight: bold;
	padding-left: 38px;
	display: block;
	text-align: left;
	margin-top: 1rem;
}

  
  .client-position a{
	  color: #4a4a4a;
  }
  
  .client-position a:hover{
	  color: #5ed9e7;
  }




  @media only screen and (min-width: 910px) {

	.testimonial-carousel {
	  background-image: url('../images/homepage/test3.png');
	  background-attachment: fixed;
	  background-color: #f6f9ff;
	  max-width: 780px;
	  margin: auto;
	  background-repeat: no-repeat;
	  background-size: cover;
	}
}