body {
  padding: 0;
  margin: 0;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.layer__space img {
  position: absolute;
  top: -45px;
  left: -200px;
}


.layer__sun img {
  position: absolute;
  -webkit-animation: spin;
          animation: spin;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.layer__earth_1 img {
  position: absolute;
  -webkit-animation: spin;
          animation: spin;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.layer__earth_2 img {
  position: absolute;
  -webkit-animation: spin;
          animation: spin;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.layer__earth_3 img {
  position: absolute;
  -webkit-animation: spin;
          animation: spin;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}


.layer__earth_4 img {
  position: absolute;
  -webkit-animation: spin;
          animation: spin;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; 
}



.layer__earth_5 img, .layer__earth_7 img {
  position: absolute;
  -webkit-animation: spin;
          animation: spin;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}


.layer__earth_8 img {
  position: absolute;
            animation-name: bounce2;
            animation-duration: 60s; 
            animation-timing-function: ease-out; 
            animation-delay: 0;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            animation-play-state: running;
}


.layer__earth_9 img {
  position: absolute;
  -webkit-animation: stretch;
          animation: stretch;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}


.layer__earth_10 img {
  /* animation: pulse 5s ease-out infinite; */
            animation-delay: 0;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            animation-play-state: running;
}









.layer__sun img {
  top: 75px;
  left: 92px;
}
.layer__earth_1 img {
  top: 318px;
  left: 200px;
}
.layer__earth_2 img {
  top: 285px;
  left: 482px;
}
.layer__earth_3 img {
  top: 242px;
  left: 709px;
}
.layer__earth_4 img {
  top: 185px;
  left: 856px;
}
.layer__earth_5 img {
  top: 127px;
  left: 939px;
}

.layer__earth_7 img {
  top: 600px;
  left: -100px;
}

.layer__earth_8 img {
  top: 0px;
  left: -190px;
}

.layer__earth_9 img {
  top: 400px;
  left: 600px;
}


/* .layer__earth_10 img {
  top: 100px;
  left: 0px;
}
 */











.layer__earth_6 {
  /* top: 127px; */
  /* left: 939px; */
  z-index:5;
  margin:auto;
}








@keyframes bounce2 {
  0%{
    transform: translate3d(0, 0, 0);

    
  }
  100%{
    transform: translate3d(0px, 250px, 50px);
    
  }
}


@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-webkit-keyframes bounce {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    transform: scale(.8);
    border-radius: 100%;
  }
  100% {
    transform: scale(1.1);
}
}


@keyframes pulse {
  0% {
    transform: scale(.8);
    border-radius: 100%;
  }
  100% {
    transform: scale(1.1);
  }

}


@keyframes slidein {
  /* from {
    margin-left:100%;
    width:300%
  }
  
  to {
    margin-left:0%;
    width:100%;
  } */
}
